<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script type="text/javascript" src="./vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="a" />
      <input type="text" v-model="c" />
      <button @click="bb">bbb</button>
      <!-- <span>dd:</span> -->
      <span v-text="d"></span>
    </div>
    <script type="text/javascript">
      var vm = new Vue({
        el: "#app",
        data: {
          a: "",
          c: "",
          d: ""
        },
        methods: {
          bb() {
            setTimeout(() => {
              console.log(this);
              console.log((this.d = parseInt(this.a) + parseInt(this.c)));
            }, 1000);
          }
        }
      });
    </script>
  </body>
</html>
